{% load staticfiles %}
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<!-- BootstrapのCSS読み込み -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery読み込み -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<button type="button" class="btn btn-primary test-btn">テスト</button>
<img src="{% static 'images/neko.jpg' %}">

</body>
</html>